@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow: auto;
  font-family: sans-serif;
  max-height: 100vh;
  background-attachment: fixed;
  background-blend-mode: multiply, multiply, normal, normal;
  background-image: linear-gradient(
      to bottom left,
      rgba(119, 41, 83, 0.16) 0,
      rgba(119, 41, 83, 0.16) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to bottom right,
      rgba(228, 228, 228, 0.5) 0,
      rgba(228, 228, 228, 0.5) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to top left,
      #544c83 0%,
      #d4b3b3 49.3%,
      rgba(112, 1, 1, 0) 60%,
      rgba(56, 36, 36, 0) 100%
    ),
    linear-gradient(-89deg, #b2ec82 0%, #2ad6ce 42%, #e6e20bea 94%);
  background-position: top right, top left, right bottom -1px, left top;
  background-repeat: no-repeat;
  background-size: 100% 99.83%, 78% 91%, 103.8% 20.26%, 100% 99.8%;
}
